<!-- Code scope
- title: dat tag
- add,remove,getNotes: ham su dung ben trong
- notes: du lieu su dung
Gan controller
- add(note)
- remove()
- getNotes()
Code scope -- directive con
- text
Code controller
- 0
Code template directive con
Code template directive
Code controller bao quanh
Code services 
Add route
-->

<!-- <div ng-controller='NoteCtrl'> -->
<book title="my book 1" add='add(note)' remove='remove()' notes='getNotes()'>
 <note text="hello world"></note>
 <note text="jfalksdljf"></note>
</book>
<!-- </div> -->